.circular-score {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.circular-chart {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.circle-bg {
    opacity: 0.3;
}

.circle {
    transition: stroke-dashoffset 0.6s ease;
}

.score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: baseline;
    font-weight: 700;
    color: #FFFFFF;
}

.score-value {
    font-size: 0.9em;
    line-height: 1;
}

.score-percent {
    font-size: 0.5em;
    margin-left: 1px;
}

/* Responsive sizing */
@media (max-width: 768px) {
    .score-value {
        font-size: 0.8em;
    }

    .score-percent {
        font-size: 0.45em;
    }
}